#minicards {
    display: block;
    /* padding: 1rem; */
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    min-width: 30%;
    /* min-width: 75%; for flex */

}