/* .nav-style {
    display: "inline";
    width: "100%";
    padding: "12px";
    margin: "0 6px 6px";
    background: "blue";
    text-decoration: "none";
    color: "white";
}

.nav-style active {
    background: "salmon";
    color: "black";
    font-weight: "bold"
} */
